body {
    background-image: url('https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_DeadByDaylight_image1600w.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }